{% extends "::layout.html.twig" %}

{% block body %}

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
      <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}

  <div class="container">
          <div class="jumbotron">
              <h1 class="text-center"> Connexion au superviseur </h1>
              <div class="row login">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-6 well">
                      <form class='form-horizontal' action="{{ path('login_check') }}" method="post">
                          <label class='control-label' for="username">Identifiant :</label>
                          <input class='form-control' type="text" id="username" name="_username" value="{{ last_username }}" />
                          <label class='control-label' for="password">Mot de passe :</label>
                          <input class='form-control' type="password" id="password" name="_password" />
                          <br />
                          <input class='col-sm-4 btn btn-primary' type="submit" value="Connexion" />
                      </form>
                  <div class="col-sm-3"></div>
              </div>
          </div>
  </div>

{% endblock %}